* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Change the background color for at least ONE of the main sections of the site. 
-> this is a requirement for exceeds expectations grade. 
Does it count if I change the background color of the entire page from white to whitesmoke? */
body {
    background-color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.5;
}

main {
    padding: 0 1em;
}

h2 {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 900;
    color: #2d3945;
}

 p {
    color: #939496;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.3em;
}

/* BR STYLING */
.hr-one {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 0.15em;
    margin-top: 2em;
}

.hr-two {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1.5em;
}

.hr-three {
    border: 1px solid black;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* HEADER */

nav {
    min-width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3945;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FORM */

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}
/* changed button color */
fieldset button {
    border-radius: 5px;
    padding: .8em;
    margin-top: 1.75em;
    background-color: #485063;
    color: white;
    border: 0;
    font-weight: 500;
    font-size: 1.2em;
}

fieldset span {
    text-align: center;
    font-size: .8em;
    font-weight: 300;
    font-style: italic;
    color: #a4a9ae;
    padding: 2em;
}

/* Trying out this surprisingly useful general sibling combinator  */
legend ~ div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
    margin-bottom: .8em;
    color: #38536e;
    font-weight: 300;
    font-size: .9em;
}

input {
    border: 0;
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 1em;
}

input[id="name"]::placeholder,
input[id="email"]::placeholder,
input[id="tel"]::placeholder,
input[id="address"]::placeholder,
input[id="city"]::placeholder,
input[id="zipcode"]::placeholder {
    text-align: right;
    font-style: italic;
  }

  /* Exceeds Expectations requirement: Uses CSS transitions for focus states. */
input:focus {
    outline: 0;
    border: 2px solid #46698b;
}

#zipcode {
    width: 50%;
}

select#state {
    border: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: #e2e2e2;
}

select {
    color: grey;
}

option {
    color: black;;
}

.newsletter p {
    padding-top: 1em;
    color: #46698b;
    font-weight: 300;
}

/* this :checked + label is such a cool thing to use */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    font-weight: bold;
}

.checkbox label,
.checkbox input,
.radio label,
.radio input {
    margin: .5em;
}

#textarea {
    border: 0;
    margin: 10px;
    min-height: 100px;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.radio {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.radio div {
    margin-bottom: .5em;
}

.checkbox {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    padding-top: 0.5em;
}

.section {
    margin-bottom: .5em;
}

.format-header {
    margin: .25em 0;
}

.signup-button:hover {
    box-shadow: 0 0 1px 1px cyan;
}

/* MEDIA QUERIES */

@media (min-width:768px) {
    form {
        max-width: 620px;
        margin: 0 auto;
    }
    legend ~ div {
        display: flex;
        flex-direction: row;
    }
    .field input {
        width: 75%;
    }
    .field label {
        width: 25%;
    }
    select#state {
        width: 75%;
    }
    .field {
        margin: 10px 0;
    }
    #zipcode {
        width: 25%;
    }
}