* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.5;
}

main {
    padding: 0 1em;
}

h2 {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 900;
    color: #2d3945;
}

 p {
    color: #a4a9ae;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.3em;
}

/* BR STYLING */
.hr-one {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 0.15em;
    margin-top: 2em;
}

.hr-two {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1.5em;
}

.hr-three {
    border: 1px solid black;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* HEADER */

nav {
    min-width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3945;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FORM */

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

fieldset button {
    border-radius: 3px;
    padding: 1em;
    margin-top: 2em;
    background-color: #4ebbb5;
    color: white;
    border: 0;
}

fieldset span {
    text-align: center;
    font-size: .8em;
    font-weight: 300;
    font-style: italic;
    color: #a4a9ae;
    padding: 2em;
}

/* Trying out this surprisingly useful general sibling combinator  */
legend ~ div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
    margin-bottom: .8em;
    color: #46698b;
    font-weight: 300;
    font-size: .9em;
}

input {
    border: 0;
    border-radius: 3px;
    background-color: #eff0f1;
    padding: 1em;
}

input:focus,
textarea:focus {
    outline: 0;
    outline: 2px solid #46698b;
}

#zipcode {
    width: 50%;
}

select#state {
    padding: 1em;
    border-radius: 5px;
    background-color: #eff0f1;
    border: 0;
}

.newsletter p {
    padding-top: 1em;
    color: #46698b;
    font-weight: 300;
}

.checkbox input {
    color: #489ff9;
}

.checkbox label,
.checkbox input,
.radio label,
.radio input {
    margin: .5em;
}

#textarea {
    min-height: 100px;
    border: 0;
    background-color: #eff0f1;
}

.radio {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.section {
    margin-top: 1em;
}

/* MEDIA QUERIES */

@media (min-width:768px) {
    form {
        max-width: 70vw;
        margin: 0 auto;
    }
    legend ~ div {
        display: flex;
        flex-direction: row;
    }
    .field input {
        width: 75%;
    }
    .field label {
        width: 25%;
    }
    select#state {
        width: 75%;
    }
    .field {
        margin: 10px;
    }
    #zipcode {
        width: 25%;
    }
}